<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" href="/Style/style.css">
</head>
<body>
   

<fieldset>
	<legend>Register</legend>
	<form method="post" >
 <a href="/home">Back</a> | 
	<a href="/logout">logout</a>
	<table>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td><select>
                <option value="Admin">Admin</option>
                <option value="General User">General User</option>
                <option value="Scout">Scout</option>
            
              </select></td>
        </tr>
		<tr>
			<td><input type="submit" name="submit" value="Submit"></td>
			<td></td>
		</tr>
	</table>
	</form>
</fieldset>
</body>
</html>