<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<title>Register Users</title>
<link rel="stylesheet" type="text/css" href="/Style/style.css">
<body >
    <h1>Welcome To our Travel Guide </h1>
    <table align="center" id=hat1> 
        <tr>
<td  ><a href="/login"> Log In</a></td>
<td ><a href="/register">register</a></td>
        </tr>
    </table>
    

</body>
</html>